.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
}
.btn {
  padding-left: 35px;
  padding-right: 35px;
  border: 2px;
  font-family: zedya;
  font-size: 15px;
  color: black;
  background-color: #fcdc1f;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
}
.btn:hover,
.btn:active {
  background-color: green;
  font-style: normal;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.5rem;
  color: #212929;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}
